.idea/

Datasets/

*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.tox
.DS_Store
\#*#
.#*
.coverage
.vscode


*.npy
*.npz

*.prof


*.pdf
*.tntp

temp_demo_code/
*.json

# Documentation
_build
_static
_templates